.fade-in {
	animation: fade-in .75s ease-out;
	animation-fill-mode: forwards;
}
.fade-out {
	animation: fade-out .75s ease-out;
	animation-fill-mode: forwards;
}

.animate-in {
	animation: animate-in .75s ease-out;
	animation-fill-mode: forwards;
}
.animate-out {
	animation: animate-out .75s ease-out;
	animation-fill-mode: forwards;
}
.animate-in-alternate {
	animation: animate-in-alternate .75s ease-out;
	animation-fill-mode: forwards;
}
.animate-out-alternate {
	animation: animate-out-alternate .75s ease-out;
	animation-fill-mode: forwards;
}

@keyframes rotate {

	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg)
	}

}

@keyframes fade-in {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

@keyframes fade-out {

	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

@keyframes animate-in {

	0% {
		opacity: 0;
		transform: translateX(-4%) translateZ(0) scale(1.1);
		transform-origin: 50% 50%;
	}
	100% {
		opacity: 1;
		transform: translateX(0) translateZ(0) scale(1);
		transform-origin: 50% 50%;
	}

}
@keyframes animate-in-alternate {

	0% {
		opacity: 0;
		transform: translateX(4%) translateZ(0) scale(1.1);
		transform-origin: 50% 50%;
	}
	100% {
		opacity: 1;
		transform: translateX(0) translateZ(0) scale(1);
		transform-origin: 50% 50%;
	}

}

@keyframes animate-out {

	0% {
		opacity: 1;
		transform: translateX(0) translateZ(0) scale(1);
		transform-origin: 50% 50%;
	}
	100% {
		opacity: 0;
		transform: translateX(4%) translateZ(0) scale(1.1);
		transform-origin: 50% 50%;
	}

}
@keyframes animate-out-alternate {

	0% {
		opacity: 1;
		transform: translateX(0) translateZ(0) scale(1);
		transform-origin: 50% 50%;
	}
	100% {
		opacity: 0;
		transform: translateX(-4%) translateZ(0) scale(1.1);
		transform-origin: 50% 50%;
	}

}