
.breadcrumb {
	padding-top: 1.5em;
}

.breadcrumb__link {
	text-decoration: none;
	color: $dark-gray;
	transition: color .2s ease;

	&:hover {
		color: $primary-color;
	}
}

.breadcrumb__arrow {
    font-weight: 500;
    padding-right: .5em;
    position: relative;
    top: .05em;
}