.single-post,
.category-news,
.author  {
	#inner-content {
		align-items: center;
		justify-content: center;
	}
}


.blog-section {
	padding-top: 3em;
	padding-bottom: 5em;
}

.news-feed__heading,
.blog-section__heading {
 	font-family: $body-font-family; 
//  	padding: 1em 0 .5em 0;
//     border-bottom: 1px solid #9e9e9e;
 
}

/*****************
  ARTICLE STYLING
 *****************/

.news-article {
	padding: 1.5em 0;
	border-bottom: 1px solid $medium-gray;

	&:after {
		content: "";
		display: block;
		clear: both;

	}

	&.is-expanded {

		.news-article__content {
			//display: block;
		}

		.news-article__heading {
			@extend h3;
		}

		.news-article__toggle {

			.toggle__less {
				display: inline;
			}

			.toggle__more {
				display: none;
			}

		}
		
	}

}

.news-article__heading {
	color: $dark-gray;
}

.news-article__image {
	margin: 1em 0;
}

.news-article__image-fallback {
    position: relative;
    background-color: $quaternary-color;
    float: left;
    width: 100%;

	&:after {
	    content: "";
	    padding-bottom: 60%;
	    display: block;
	}
}

.news-article:nth-of-type(odd) {

	.news-article__image-fallback {
		background-color: $tertiary-color;
	}

}

.news-article__image-fallback-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    margin: 0 auto;
}

.news-article__header {
	padding: 1em 0;
}

.news-article__content {
	display: none;
	float: left;
}

.news-article__meta {
	a {
		color: $medium-gray;
	}
}

.news-article__footer {
	float: left;

	a {
		color: $dark-gray;
	}
}

.single .news-article__footer {
	float: none;
}


.news-article__toggle {
	position: relative;
	line-height: 1;

	@extend p;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		border-bottom: 1px solid $dark-gray;
	}

	.toggle__less {
		display: none;
	}

}

.single-title {
	margin-top: .4em;
}

.news-article.is-expanded .news-article__heading {
	margin-top: .9em;
}

@media #{$large-up}{

	.news-article {

		&.is-expanded {

			.news-article__image, .news-article__header { 
				width: 100%;
			}

			.news-article__header {
				padding-left: 0;
				padding-right: 0;
			}

			.news-article__footer {
				padding: 0;
			}
			
		}

		&.is-animating {

			.news-article__header, .news-article__content {
				opacity: 0;
			}

			.news-article__toggle {
				opacity: 0;
			}

		}

	}

	.news-article__image {
		transition: width .5s ease .3s;
	}

	.news-article__header, .news-article__content {
		transition: opacity .25s ease .2s;
		opacity: 1;
	}
	
	.news-article__image, .news-article__header {
		float: left;
		width: 50%;

	}

	.news-article__header {
		padding: 1em 2em;
	}

	.news-article__footer {
		padding: 0 2em;
	}
	
	.single .news-article__footer {
		padding: 0;
	}

}

figcaption {
	padding: .5em 0 0 0;
}