.NHaasGroteskTXStd-55Rg { 
	font-family: NHaasGroteskTXStd-55Rg;
	font-weight: normal;
	font-style: normal;
}
.NHaasGroteskTXStd-65Md { 
	font-family: NHaasGroteskTXStd-65Md;
	font-weight: normal;
	font-style: normal;
}