.gform_wrapper {
  padding: 3em 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.gform_fields {
  padding: 0;
}

.gfield_label {
  font-weight: 500;
  font-size: 1.2em;

}

.gform_body {

  width: 100%;
  display: block;
  float: none;

  @include breakpoint(medium up) {
    width: 50%;
    float: left;
  }

}

.gform_footer {

  width: 100%;
  float: none;
  margin: 0;
  display: block;

  @include breakpoint(medium up) {
    width: 250px;
    float: left;
    margin-left: 3em;
  }

}

.ginput_container_email {

  input {

    background: transparent;
    border: none;
    padding: 1em 0 .4em 0;
    font-size: 1.1em;
    border-bottom: 1px solid lighten($medium-gray, 15%);
    display: block;
    width: 100%;
    transition: .25s ease all;

    &:hover,
    &:focus {
      border-bottom: 1px solid $dark-gray;
      outline: 0;
    }

  }

}

.gform_button {

  border: none;
  padding: .7em 1em;
  color: white;
  background-color: $primary-color;
  font-size: 1.2em;
  margin-top: 1.4em;
  transition: .25s ease all;

  &:hover {
    background-color: darken($primary-color, 5%);
  }

  @include breakpoint(small only) {
    width: 100%;
    display: block;
  }

}

.gform_confirmation_wrapper {
  padding: 1em 0 3em 0;
  font-size: 1.1em;
}

.validation_error {
  display: none;
}

.validation_message {
  color: $alert-color;
}

.signup-wrap,
#whitepaper-form {

  label {
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: .85em;
    font-family: NHaasGroteskTXStd-65Md;
  }

  input {
    margin-bottom: 1em;
    width: 100%;
    padding: .55em .75em;
    background-color: #eee;
    border: #eee 1px solid;
    transition: background-color .2s ease, border-color .2s ease;
    color: $black;

    &:active,
    &:focus {
      background-color: #fff;
      border-color: darken(#eee, 10%);
      outline: none;
    }
  }

  input[type="submit"] {
    background: black;
    border: none;
    color: white;
    width: 100%;
    padding: .75em 1em;
    transition: background .2s ease;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }

}

#newsletter-wraper {

  //padding-top: 1rem;
  .signup-wrap {

    position: relative;
    overflow: hidden;
    //height: 39px;

    input {
      //height: 102%;
    }

    input[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;
      padding: 0;
      height: 39px;
    }

    p {
      font-size: 0.9rem;
    }

    #gdpr_checkbox, #checkbox_text {
      width: auto;
      display: inline-block;
      text-transform: none;
    }
    a{
      color: black;
    }
  }
}

.newsletter-section{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #c7c7c7;;

  h5{
    font-size: 1.9rem;
  }

  #newsletter_signup_email{
    background-color: white;
  }
}

