.gallery__image {
	display: block;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:after {
		content: "";
		display: block;
		padding-bottom: 70%;
	}

}

.gallery__image-wrap {
	margin: 0 0 2em 0;
}