$icomoon-font-path: "../fonts" !default;

$icon-angle-left: "\f104";
$icon-angle-right: "\f105";

$icon-article: "\e900";
$icon-connect: "\e901";
$icon-electricity: "\e902";
$icon-power: "\e903";
$icon-heat: "\e904";
$icon-cooling: "\e905";
$icon-sustainable: "\e906";
$icon-money: "\e907";
$icon-time: "\e908";
$icon-marker: "\e909";
$icon-link: "\e90a";
$icon-download: "\e90b";
$icon-close: "\e90c";
$icon-hamburger: "\e90d";
$icon-linkedin: "\e90e";
$icon-twitter: "\e90f";
$icon-facebook: "\e910";
$icon-mail: "\e911";
$icon-arrow_back: "\e5c4";
$icon-arrow_downward: "\e5db";
$icon-arrow_upward: "\e5d8";
$icon-arrow_forward: "\e5c8";
$icon-globe: "\e912";

@font-face {
  font-family: 'sthlmdataparks';
  src:  url('#{$icomoon-font-path}/sthlmdataparks.eot?ocbfyx');
  src:  url('#{$icomoon-font-path}/sthlmdataparks.eot?ocbfyx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/sthlmdataparks.ttf?ocbfyx') format('truetype'),
    url('#{$icomoon-font-path}/sthlmdataparks.woff?ocbfyx') format('woff'),
    url('#{$icomoon-font-path}/sthlmdataparks.svg?ocbfyx#sthlmdataparks') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block; /* new */
}

[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sthlmdataparks' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-article {
  &:before {
    content: $icon-article;
  }
}
.icon-connect {
  &:before {
    content: $icon-connect;
  }
}
.icon-electricity {
  &:before {
    content: $icon-electricity;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-heat {
  &:before {
    content: $icon-heat;
  }
}
.icon-cooling {
  &:before {
    content: $icon-cooling;
  }
}
.icon-sustainable {
  &:before {
    content: $icon-sustainable;
  }
}
.icon-money {
  &:before {
    content: $icon-money;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-marker {
  &:before {
    content: $icon-marker;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-arrow_back {
  &:before {
    content: $icon-arrow_back; 
  }
}
.icon-arrow_downward {
  &:before {
    content: $icon-arrow_downward; 
  }
}
.icon-arrow_upward {
  &:before {
    content: $icon-arrow_upward; 
  }
}
.icon-arrow_forward {
  &:before {
    content: $icon-arrow_forward; 
  }
}
.icon-globe:before {
  content: $icon-globe;
}

