.clear-margin-b {
	margin-bottom: 0;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-bold {
	font-weight: 700;
}

.relative {
	position: relative;
}

.no-overflow {
	overflow-y: auto;
    word-wrap: break-word;
}

@media #{$large-up} {
	.inline-display-large-up {
		display: inline;
	}
}

/*****************
  SPACES
 *****************/

.space {
	padding-top: 2em;
	padding-bottom: 2em;
}

.space--small {
	padding-top: 1em;
	padding-bottom: 1em;
}

@media #{$medium-up}{

	.space {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.space--large {
		padding-top: 4em;
		padding-bottom: 4em;
	}

}

@media #{$large-up}{

	.space {
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.space--large {
		padding-top: 5em;
		padding-bottom: 5em;
	}

}

/*****************
  BACKGROUNDS
 *****************/

.bg-white {
 	background-color: $lightest-gray;

}

.bg-light-gray {
 	background-color: $light-gray;
 	
}

.bg-black {
 	background-color: $dark-gray;
 	color: $white;

}

.bg-primary {
	background-color: $primary-color;
}


/*****************
  CLICKABLE
 *****************/
 .clickable {
	 cursor: pointer;
 }
 
 /*****************
  IFRAME
 *****************/
 
 iframe {
	 max-width: 100%;
 }