$transition-speed: .1s;


.default-overlay {

	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 9000;
	opacity: 0;
	background: black;
	transition: .35s ease opacity;

	&.is-active {
		width: 100%;
		height: 100%;
		opacity: .25;
	}

}

.whitepaper-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	max-width: 700px;
	max-height: 100vh;
	z-index: 9001;
	opacity: 0;
	background: white;
	visibility: hidden;

	&.is-active {
		visibility: visible;
		opacity: 1;
	}

	.whitepaper-errors,
	.thanks-message {
		display: none;	
	}

	@include breakpoint (medium up) {
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: auto;
		min-height: 400px;
		transform: translateY(-54%);
		transition: .35s ease-out transform;
		
		&.is-active {
			transform: translateY(-50%);
		}

	}

}

@media screen and (max-height: 500px ) {

	.whitepaper-modal {
		top: 0 !important;
		transform: translateY(0) !important;
		height: 100vh !important;
	}


}

.whitepaper-modal__inner {
	padding: 3em 1em;
	overflow: auto;
	height: 100%;
}

.close-modal {    
	position: absolute;
	right: 1em;
	top: 1em;
	outline: none;
	transition: color .2s ease; 

	&:before {
	    content: "+";
	    display: inline-block;
	    transform: rotate(45deg);
	    font-size: 1.5em;
	    position: absolute;
	    left: -.75em;
	    top: 50%;
	    line-height: 0;
	}

	&:hover {
		color: darken($primary-color, 10%);
	}

}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	opacity: 1;
	background: transparent;

	.spinner {
		
		z-index: 99999999;
		position: absolute;
		top: 50%; left: 50%;
		transform: translateX(-50%) translateY(-100%) translateZ(0);
		width: 40px;
		height: 40px;
		opacity: 0;
		transition: .5s ease all;
		transition-delay: .3s;

		span {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background: white;
			animation: rotate 1s infinite;
			animation-fill-mode: forwards;
		}
	}

	.loading-overlay__section {

		position: absolute;
		width: 50vw;
		height: 100vh;
		z-index: 99999;
		background: $dark-gray;

		&--left {
			top: 0; left: 0;
			transform: translateX(-100%);
			transition: $transition-speed ease-out transform;
		}
		&--right {
			top: 0; right: 0; left: auto;
			transform: translateX(100%);
			transition: $transition-speed ease-out transform;
		}

	}

	&.start-anim {

		.spinner {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%) translateZ(0);
		}

		.loading-overlay__section {
			
			&--left {
				transform: translateX(0);
			}
			&--right {
				transform: translateX(0);
			}
		}
	}	

}