/*--------------------
 * MENU GENERAL STYLING
 *-------------------*/

.menu {
	list-style: none;
	padding: 0;

	li a {
		text-decoration: none;
		color: #aeaeae;
		transition: color .2s ease-in-out;

		&:hover {
			color: $white;
		}
	}

}

/*--------------------
 * MAIN MENU TOGGLE STYLING
 *-------------------*/

.menu-toggle {
    position: absolute;
    top: 22px;
    left: auto;
    right: 15px;
    width: 50px;
    height: 50px;
}

.menu-toggle__bar {
    height: 4px;
    width: 40px;
    background: $white;
    display: block;
    margin: 2px auto 5px auto;
}

@media #{$large-up}{

	.menu-toggle {
		display: none;
	}

}

/*--------------------
 * MAIN MENU  STYLING
 *-------------------*/

.main-menu {
	display: none;
}

@media #{$large-up}{

	.main-menu {
		align-items: center;
		display: flex;
		//justify-content: space-around;
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: .5em 0 0 0;
		width: 100%;


		li {
			display: inline-block;

			&:last-of-type a {
				padding-right: 0;

			}

			&:last-of-type:after {
				left: .8em !important;
			}
		}

		li a {
			display: block;
			padding: 0 .55em;
			font-weight: 500;
			text-align: center;

		}

		li.current-menu-item {
			position: relative;

			a {
				color: $white;
			}

			&:after {
				content: "";
				position: absolute;
				display: block;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: calc(100% - .75em);
				top: 3.55em;
				height: 3px;
				border-radius: 3px;
				background-color: $white;
				opacity: 1;
				transition:  top .2s ease-in-out, opacity .2s ease-in-out;

			}

		}

	}

	body.state--scrolled {

		li.current-menu-item:after {
			top: 2em;
			opacity: 0;
		}

	}

}


@media #{$xlarge-up}{

	.main-menu {

		li a {
			padding: 0 .8em;
			font-weight: 500;

		}
	}

}

/*--------------------
 * OFFCANVAS MENU  STYLING
 *-------------------*/

.js-off-canvas-exit {

	&.is-visible {

	}
}

.off-canvas {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: $dark-gray;
	z-index: 100;
	top: 5.15em;
	left: 0;
	padding: rem-calc(0 20);
	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, -100%, 0);
	transition: transform .2s ease-in-out;

	.offcanvas-menu {
		opacity: 0;
		transition: opacity .3s ease-in-out .15s ;
	}

	&.is-open {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);

		.offcanvas-menu {
			opacity: 1;
		}
	}

}

.off-canvas-wrapper-inner {

	&.is-off-canvas-open {

	}

}

.offcanvas-menu {

	li {

	}

	li a {
		display: block;
		font-size: 1.25em;
		padding: .3em 0;

	}

}

body:not(.home) .off-canvas-content {
	padding-top: rem-calc(95);
	//padding-top: rem-calc(130); // With banner
}

@media #{$large-up}{

	.off-canvas {
		display: none;
	}

	body:not(.home) .off-canvas-content {
		padding-top: rem-calc(116);
		//padding-top: rem-calc(280); // With banner
	}

}

/*--------------------
 * FOOTER MENU STYLING
 *-------------------*/

 .footer-menu {
 	@extend p;
 	padding: 2em 0;
 	margin: 0;
 	display: flex;
 	flex-flow: column wrap;
 	align-items: stretch;
 	max-height: 220px;

/*
 	li {
		min-width: 50%;
 	}
*/

 	li a {
 		display: block;
	 	color: $medium-gray;
	 	padding: .15em 0;
	 }

 }

 @media #{$small-only}{

	.footer-menu {
		padding: 0;
	 	margin: 2em 0;
	 	height: 150px;
	 }

 }

 @media screen and (max-width: 380px) {
 	.footer-menu {
	 	max-height: none;
	 	height: auto;
	 }
 }

 @media #{$large-up}{

 	.footer-menu {
 		margin: 0 0 1em 0;
 		padding: 1em 0;
 		max-height: 200px;
 	}

 }
