.page-footer {
	background-color: $dark-gray;
	color: $white;
	padding: 2em 0;

	.list__item {
		color: $medium-gray;

		a {
			color: inherit;
			text-decoration: none;
		}
	
	}

	.list__item--highlight {
		color: $light-gray;
	}

	.contact__social-list {
    	margin: .25em 0 1em;
	}

	a.contact__social-list-icon {
		color: $white;
		transition: color .2s ease;

		&:hover {
			color: inherit;
		}
	}


}

@media #{$medium-up}{

	.page-footer {
		padding: 3em 0;
	}

}