.page-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.social-feed {

	font-family: $body-font-family;

	i.icon {
		position: relative;
		font-size: 1.3em;
		top: .15em;
		margin-right: .5em;
	}
	i.icon-linkedin {
		top: .05em;
	}

	.social-feed__item {

		display: block;
		text-decoration: none;
		color: $black;

		padding: .7em 1.5em 0 1.5em;
		height: 43px;

		font-size: .85em;
		font-weight: 400;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		background: transparent;
		transition: .2s ease all;

		&:hover {
			background: darken($light-gray, 5%);
		}

	}

	.social-feed__text {

		font-family: $heading-font-family;

	}

}

.page-header__top-bar {
	display: none;
	background-color: $light-gray;
}

.page-header__main-bar {
	background-color: $dark-gray;
	padding: rem-calc(20 0);
	position: relative;
}

.page-header__logo {
	display: block;
	width: 140px;
	height: 55px;
	background-image: url('../images/sthlm-data-parks-logo-neg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	overflow: hidden;
	text-indent: -9999px;

}

@media #{ $large-up }{

	.page-header__top-bar {
		display: block;
		height: 43px;
		overflow: hidden;
		transition: height .2s ease-in-out;
	}

	.page-header__main-bar {
	    padding: 1.5em 0;
	    transition: padding .2s ease-in-out;
	}

	.page-header__logo {
		width: 178px;
		height: 68px;
		transition: width .2s ease-in-out, height .2s ease-in-out;
	}


	body.state--scrolled {

		//.page-header__top-bar {
		//	height: 0;
		//}

	}

	body.state--scrolled {

		.page-header__main-bar {
		    padding: 1em 0;
		}

		.page-header__logo {
			width: 110px;
			height: 42px;
		}

	}

}

.page-header__banner {
	background-color: #719c31;
	overflow: hidden;
	transition-duration: 0.75s;

	.column {
		line-height: 0;
	}

	img {
		width: 100%;
		height: auto;
		margin-top: 0;
		transition-duration: 0.5s;
	}
}



body.state--scrolled {

	.page-header__banner {

		img {
			margin-top: -9rem;
		}
	}
}
