.scroll-menu {
	position: relative;
	z-index: 999;

	&.is-fixed {
		position: fixed;
		width: 100%;

	}

}

.scroll-menu__anchor {
	height: 56px;
	display: block;
    width: 100%;
}

.scroll-menu__inner {
	position: relative;
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 1em;

    &::-webkit-scrollbar { 
	    display: none; 
	}

}

.scroll-menu__nav {
	display: none;
}

.scroll-menu.has-scroll-nav {

	.scroll-menu__nav {
		display: block;
		color: $white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 100%;
		outline: none;

		&:before {
			@extend .icon;
			font-size: 1.5em;
			line-height: 56px;
		}

	}

	.scroll-menu__nav--left {
		float: left;
		left: 0;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#212121+0,212121+100&1+59,0+100 */
		background: -moz-linear-gradient(left,  rgba(33,33,33,1) 0%, rgba(33,33,33,1) 59%, rgba(33,33,33,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(33,33,33,1) 0%,rgba(33,33,33,1) 59%,rgba(33,33,33,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(33,33,33,1) 0%,rgba(33,33,33,1) 59%,rgba(33,33,33,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#00212121',GradientType=1 ); /* IE6-9 */

		&:before {
	    	@extend .icon;
			content: $icon-angle-left;

		}
	}

	.scroll-menu__nav--right {
		float: right;
		right: 0;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#212121+0,212121+100&0+0,1+41 */
		background: -moz-linear-gradient(left,  rgba(33,33,33,0) 0%, rgba(33,33,33,1) 41%, rgba(33,33,33,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 41%,rgba(33,33,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 41%,rgba(33,33,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212121', endColorstr='#212121',GradientType=1 ); /* IE6-9 */

	    &:before {
	    	@extend .icon;
			content: $icon-angle-right;

		}
	}

}

@media #{$large-up}{

	.scroll-menu__inner {
    	overflow-x: auto;
    }

	.scroll-menu:not(.has-scroll-nav) {

		.scroll-menu__inner {
			width: auto;
			float: left;
			left: 50%;
			transform: translateX(-50%);
			transition: .35s ease-in-out;
		}

		&.is-fixed .scroll-menu__inner {
			left: 100%;
			transform: translateX(-100%);

			li:last-of-type {
				padding-right: .7em;
			}
	
		}


	}

}