.sidebar--blog {
// 	padding: 1.5em;
/*

	@include breakpoint(small only){
		    margin: 1.25em;
	}
*/
		
	.sidebar-block {
		padding: 0,5em;
		background-color: #eeeeee;

	}
	
	.sidebar-block:first-of-type {
		background-color: #006CAC;

	
	}
	
	.sidebar-block:nth-of-type(2) {
		margin-bottom: 2em;
	}
	
	.sidebar-block:nth-of-type(3n) {
		background-color: #4BA3EB;
	
	}	
	
}

.sidebar__title {
	padding-top: 0 !important;
	line-height: 1.5em;
	color: white;
}


.sidebar__title-icon {
	color: $white;
	font-size: 1.6rem;
	line-height: 1.2em;
	padding-right: 0.5em;
    float: left;
    
}

.social-item {
    padding: 2em 0 2.25em 0;
    border-bottom: 1px solid #9e9e9e;
}

.social-item:last-of-type   {
	border-bottom: none;
			
}    

a.social-item__link {
    color: $dark-gray;
    text-decoration: none;
    border-bottom: 2px rgba($dark-gray, .3) solid;
    transition: border .2s ease;

    &:hover {
    	border-color: rgba($dark-gray, .85);
    }
}
