/*
 *  Owl Carousel - Core
 */


/* No Js */
// .no-js .owl-carousel {
// 	display: block;
// }

.owl-stage-outer,
.owl-stage,
.owl-item {
	height: auto;
	//-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    //backface-visibility: hidden;
}

.owl-prev,
.owl-next {
	display: none;
}

@media #{$medium-up}{


	.owl-prev,
	.owl-next {
		display: block;
	    top: 50%;
	    position: absolute;
	    transform: translateY(-75%);
	    color: $white;
	    font-family: 'sthlmdataparks' !important;
	    font-size: 0px;
	    text-shadow: 0 0 20px black, 5px 5px 50px rgba(0, 0, 0, 0.2), 1px 15px 20px rgba(0, 0, 0, 0.15);
	    opacity: .8;
	    transition: opacity .2s ease;

	    &:hover {
	    	opacity: 1;
	    }
	}

	.owl-next {
		right: 1rem;

		&:before {
			display: block;
			font-size: 4rem;
			content: $icon-angle-right;
		}

	}

	.owl-prev {
		left: 1rem;

		&:before {
			display: block;
			font-size: 4rem;
			content: $icon-angle-left;
		}
	}

}

@media #{$xlarge-up}{


	.owl-next {
		right: 2rem;

		&:before {
			display: block;
			font-size: 5rem;
			content: $icon-angle-right;
		}

	}

	.owl-prev {
		left: 2rem;

		&:before {
			display: block;
			font-size: 5rem;
			content: $icon-angle-left;
		}
	}

}


.slider {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    @include breakpoint(medium up) {
	    top: -30px;
	}

	@include breakpoint(large up) {
	   top: -50px;
	}
	
	@include breakpoint(xlarge up) {
	   top: -60px;
	}

	@include breakpoint(1300px) {
  		top: -60px;
	}
	
	@include breakpoint(xxlarge up) {
	   top: -70px;
	}
	@include breakpoint(1650px) {
	   top: -90px;
	}
	@include breakpoint(2000px) {
	   top: -90px;
	}

}

.slider__item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    //-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    //backface-visibility: hidden;
}

.slider__content {

	position: absolute;
	z-index: 300;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 180px;
	max-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;

	@include breakpoint( small only ) {
		left: 0;
	}

	@include breakpoint(medium up) {
	    min-height: 300px;
	}

	@include breakpoint(large up) {
	    max-height: 80vh;
	    min-height: 600px;
	    left: -4%;
	}

	@include breakpoint(1300px) {
	    max-height: 80vh;
	    min-height: 700px;
	}

	&-wrap {

		@include breakpoint( medium up ) {
			width: 700px;
		}

		@include breakpoint( small only ) {
			width: 80%;
			width: 300px;
			position: relative;
		}

		@include breakpoint( large up ) {
			padding-bottom: 9em;
			width: 900px;
		}

		@include breakpoint( xlarge up ) {
			padding-bottom: 12em;
		}

	}

}

.slider__subheader,
.slider__header {

	color: #f3f3f3;
	font-weight: 900;
	font-size: 1.9em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .095em;
	text-align: center;
	text-shadow: 0 0 20px rgba(0, 0, 0, 7),
				 5px 5px 50px rgba(0, 0, 0, .4),
				 1px 15px 20px rgba(0, 0, 0, .2);


	span {
		letter-spacing: .113em;
	}

	@include breakpoint( medium up ) {
		font-size: 5em;
	}

	@include breakpoint( large up ) {
		font-size: 6em;
	}

	@include breakpoint( 1300 ) {
		font-size: 7em;
	}

}
.slider__subheader {
	font-size: .8em;
	letter-spacing: .04em;
	overflow:hidden;


	@include breakpoint( medium up ) {
		font-size: 2.1em;
	}

	@include breakpoint( large up ) {
		font-size: 2.55em;
    	text-indent: -.25em;
	}

	@include breakpoint( 1300 ) {
		font-size: 2.95em;
	}

}


.social-feed__slider {

	
	.owl-item {
		

		.column {
			opacity: 1;
			backface-visibility: hidden;
			transform: scaleY(-1) translateZ(0);
			transition: opacity .15s ease, transform .55s ease;

			&:nth-of-type(1) {
				transition-delay: 0;

			}
			&:nth-of-type(2) {
				transition-delay: .15s;
				
			}
			&:nth-of-type(3) {
				transition-delay: .3s;			
			}

		}

		&.active {

			.column {
				transform: scaleY(1) translateZ(0);
			}

		}

		&.fadeOut .column {
			opacity: 0;
		}

	}

}