/*	social sharing
---------------------------------------- */
.social-share {
	display: block;
	float: none;
	font-size: 0.9em;
	line-height: .9em;
}

@media #{$large-up} {
	.social-share {
		display: inline-block;
		margin-left: 1em;
		float: right;
	}
}

.social-link {
	display: inline-block;
	width: 36px;
	color: white;
	font-weight: 500;
	text-align: center;
	padding: .5em 0;
	transition: .2s ease all;
	box-shadow: inset 0 0 0 100px transparent;
	text-decoration: none;
	margin-right: 4px;
}

.social-link:last-of-type {
	margin-right: 0;
}

@media #{$small-only} {
	.social-link {
		margin-bottom: 4px;
	}
}


.social-share .social-link.fb {
	background: #3B5998;
}
.social-share .social-link.twitter {
	background: #55ACEE;
}
.social-share .social-link.pinterest {
	background-color: #CB2027;
}
.social-share .social-link.linkedin {
	background-color: #0077B5;
}
.social-share .social-link.mail {
	    background-color: #7a9a2b;
}

.news-article .social-share {
	display: none;
}