/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	
	font-weight: 500;
	font-family: $heading-font-family;
	line-height: 1.3em;
	margin: $header-margin-bottom 0;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: rem-calc(34);
	line-height: 1.3;
}

h2, .h2 {
	font-size: rem-calc(28);
	line-height: 1.3;
	margin-bottom: .45em;
}

h3, .h3 {
	font-size: rem-calc(24);
	line-height: 1.4;
}

h4, .h4 {
	font-size: rem-calc(20);
}

h5, .h5  {
	font-size: rem-calc(16);
	line-height: 1.5;
}

p {
	font-family: $body-font-family;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.45em;
	margin: 0 0 1.35em 0;
}

.intro {
	font-size: rem-calc(19);
	line-height: 1.25;
	font-weight: 500;
	margin-bottom: 1em;
	font-family: $heading-font-family;
}

.strong {
	font-family: $heading-font-family;
}

.text-small {
	font-size: rem-calc(14);
	font-weight: 500;
}

.link-fat {
	@extend p;

    color: $dark-gray !important;
    text-decoration: none;
    font-weight: 500;
}

.link-download {

	&:after {
		@extend .icon;

		content: $icon-download;
		color: $primary-color;
		display: inline-block;
		padding-left: .3em;
		font-size: 1.15em;
		transform: translateY(5%);

	}

}

.link-external {

	&:after {
		@extend .icon;

		content: $icon-link;
		color: $primary-color;
		display: inline-block;
		padding-left: .55em;
		font-size: .8em;

	}

}

.entry-content { 

	 p {
		margin-top: .5em;
	}

	a:not(.button) {
		color: $secondary-color;
		border-bottom: 2px solid rgba($secondary-color, .25);
		transition: border .2s ease-in-out;

		&:hover {
			border-bottom: 2px solid rgba($secondary-color, .75);
		}

	}

}

a {

	color: color(primary);
	cursor: pointer;

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}


.color-primary {
	color: $primary-color;
}

.color-secondary {
	color: $secondary-color;
}

.color-tertiary {
	color: $tertiary-color;
}

.color-white {
	color: $white;
}

.color-dark {
	color: $dark-gray;
}

@media #{$medium-up}{

	h1, .h1 {
		font-size: rem-calc(42); 
		line-height: 1.2;
	}

	h2, .h2 {
		font-size: rem-calc(32);
		line-height: 1.3;
	}

	h3, .h3 {
		font-size: rem-calc(22);
		line-height: 1.5;
	}

	h4, .h4 {
		font-size: rem-calc(21);
	}

	h5 .h5 {
		font-size: rem-calc(18);
		line-height: 1.6;
	}

	p {
		font-size: 1.125em;
		line-height: 1.4;
	}

	.intro {
		font-size: rem-calc(22);
		line-height: 1.2;
	}

}

@media #{$large-up}{

	h1, .h1 {
		font-size: rem-calc(50);
	}

	h2, .h2 {
		font-size: rem-calc(34);
		margin-bottom: .5em;
	}

	h3, .h3 {
		font-size: rem-calc(24);
		line-height: 1.4;
	}

	h4, .h4 {
		font-size: rem-calc(22);
	}

	h5, .h5 {
		font-size: rem-calc(19);
	}

	.intro {
		font-size: rem-calc(25);
	}

	p {
		font-size: 1.188em;
	}


	.entry-content {

		h2, .h2 {
			font-size: rem-calc(28);
			margin-top: 1em;
			margin-bottom: 0;
		} 

		h3, .h3 {
			font-size: rem-calc(24);
			margin-top: 1em;
			margin-bottom: 0;
		}

		h4, .h4 {
			font-size: rem-calc(22);
		}

		 h5, .h5, h6, .h6 {
			font-size: rem-calc(20);
		}

	}

}

@media #{$xlarge-up}{


}

@media #{$xxlarge-up}{


	
}