.f-benefits {

}

.f-benefits__link {
    text-decoration: none;
}

.f-benefits__item {
	padding: 1em .5em;
	text-align: center;
}

.f-benefits__icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: $primary-color;
}

.f-benefits__title {
	color: $dark-gray;
	font-size: rem-calc(12);
}

.f-benefits__icon {
	position: relative;
}

.f-benefits__icon-inner {
	font-size: 40px;
	color: $white;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translate3d( 0, -50%, 0);
	
	&.icon-globe {
		font-size: 51px;
		
	}
}

@media #{$medium-up}{

	.f-benefits__item {
		padding: .25em .5em;
	}

}

@media #{$large-up}{

	.f-benefits__item {
	    //min-width: 140px;
	}

	.f-benefits__icon {
		width: 85px;
		height: 85px;
		position: relative;
		overflow: hidden;
		transform: translateY(0);

		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			background-color: darken($primary-color, 5%);
			width:0;
			height: 100%;
			top: 0;
			padding: -1px;
			transform: translateY(0);
			-webkit-transition: width 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			-moz-transition: width 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			-o-transition: width 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
			transition: width 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
		}

		&:before {
			left: 0;
		}

		&:after {
			left: auto;
			right: 0;
			padding: -1px;
			z-index: -1;
		}
	
	}

	.f-benefits__title {
		font-size: rem-calc(11);
	}

	.f-benefits__icon-inner {
		transform: translate3d( 0, -50%, 0);
		transition: transform .2s ease-in-out .2s;
	}

	.f-benefits__link:hover,
	.f-benefits__link:focus {

		.f-benefits__icon {

			&:before, &:after {
				width: 100%;
			
			}
		}

		.f-benefits__icon-inner {
			transform: translate3d( 0, -60%, 0);

		}

	}

}

@media #{$xlarge-up}{

	.f-benefits__title {
		font-size: rem-calc(12);
	}

}

/******************
	BENEFIT BLOCK
*******************/

.benefit {

	&:nth-of-type(odd) {
		background-color: $light-gray;
	}

	&:nth-of-type(even) {
		background-color: $lightest-gray;
	}

}

.benefit__icon {
    margin: 1em 0 1.5em 0;
}

.benefit__icon-inner {
    color: $primary-color;
    font-size: 3em;
    
    &.icon-globe {
	    font-size: 3.6em;
    }
}

.benefit__content--full {
	max-width: $global-width / 2;
	float: right;
	padding-left: rem-calc(20);
	padding-right: rem-calc(40);

	@include breakpoint(large up) {
		padding-bottom: 9em;
	}
}

.benefit__image-wrap--full {
	height: 100%;
	width: 100%;
	background-color: $dark-gray;

	.row {
		align-items: center;
		height: 100%;
		margin: 0;
	}

	@include breakpoint(medium up) {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.benefit__image-text {
	padding: 3rem 2rem;
	color: $light-gray;
	font-size: 4rem;
	text-align: center;

	@include breakpoint(medium up) {
		font-size: 5rem;
		text-align: left;
	}	

	@include breakpoint(large up) {
		font-size: 10rem;
	}

	@include breakpoint(xlarge up) {
		padding: 2.5rem;
		font-size: 11rem;
	}	
}

@media #{$medium-up}{

	.benefit__icon {
	    margin: 0 0 4em 0;
	}

	.benefit__icon-inner {
	    font-size: 5em;
	    
	    &.icon-globe {
		    font-size: 6em;
	    }
	}

}