.contact-section {
	background-color: $light-gray;

	a {
		color: $medium-dark-gray;

		&:hover {
			color: $dark-gray;
		}
	}

}

.contact-section__title {
	margin: 0 0 .85em 0;
    line-height: 1;
}

.contact__heading-row {

	@include breakpoint(small only) {
		padding-top: 3em;
	}

	padding-bottom: 0;
}

.contact-section__item-wrap {
	padding-top: 1em;
}

@media screen and (max-width: 410px) {
	
	.contact-section__item-wrap > .column {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}


}

@media screen and (min-width: 410px) {

	.contact-section__item-wrap {

		.column:nth-of-type(odd) {
			padding-right: .625rem;
		}

		.column:nth-of-type(even) {
			padding-left: .625rem;
		}

	}
}

.contact__item {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

}

.contact__item-image,
.contact__item-content {
	min-width: 100%;
	flex: 0 0 100%;
}

.contact__item-image {
	background-size: cover;
	background-position: center center;
	margin-bottom: .85em;

	&:after {
		content: "";
		display: block;
		padding-bottom: 127%;

	}

}

.contact__social-list {

	.list__item {
		padding: 0 .5em;

		&:first-of-type {
			padding-left: 0;
		}
	}


}

a.contact__social-list-icon {
	text-decoration: none;
	color: $primary-color;
	text-align: right;
	font-size: 1.25em;
}

@media #{$large-up}{

	.contact__item-image {
	    min-width: 47%;
	    flex: 0 0 47%;
	}

	.contact__item-content {
		min-width: 53%;
	    flex: 0 0 53%;
	    padding: 1.75em;
	}

}