
.map-section {
	background-color: $dark-gray;
	color: $white;
}

.map-section__image--large {
	display: none;
}

@media #{$medium-up}{

	.map-section__image--large {
		display: block;
	}

	.map-section__image--small {
		display: none;
	}


}


#main-map {
	
	height: 70vh;

	.main-map-label {

		position: relative;
		margin-left: 50px;
		color: black;
		font-size: 1.5em;
		font-weight: 500;
		padding: .3em .5em;
		line-height: 1.2em;
		background: #f1f1f1;

		&.--align-right {
			transform: translateY(-55px) translateX(30px);
		}
		&.--align-left {
			text-align: right;
			transform: translateY(-55px) translateX(-155%);
		}

	}

}

.map-section__title {
	margin-bottom: 0;
}

.map-section__intro {

	p {
		margin-bottom: .65em;
	}

	a {
		color: $white;
		text-decoration: none;
		position: relative;

		&:before {
			content: "";
			display: inline;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			border-bottom: 2px solid $medium-gray;
			transition: border .2s ease-in-out;
		}

		&:hover:before {
			border-color: $primary-color;
		}
	
	}

}

@media #{$large-up} {

	.map-section__title {
		margin: .25em 0;
	}

	.map-section__intro {
		text-align: right;
		padding-top: 1.5em;

		p {
			margin-bottom: 0;
		}
	
	}

}