.news-section {
	background-color: $lightest-gray;

	a,
	a:visited {
		color: $dark-gray;
		transition: color .2s ease;

		&:hover {
			color: $black;
		}
	}

}

.news {
	
	padding: 2em 0;
	
	
	.column:nth-of-type(odd) {

		.news__item-image {
			background-color: $quaternary-color;
		}
	}

	.column:nth-of-type(even) {

		.news__item-image {
			background-color: $tertiary-color;
		}
	}

	.column:nth-of-type(even) .news__item--post,
	.column:nth-of-type(odd) .news__item--post, {

		.news__item-image {
			background-color: $white;
		}
	}
}

.news__item {
	margin-bottom: 3em;
}

.news-section__title {
	margin-bottom: .25em;
}

.news__item-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 1em;
	background-color: $light-gray;

	&:after {
		content: '';
		display: block;
		padding-bottom: 58%;
	}

}

.news__item-image-text {
    font-size: 2em;
    position: absolute;
    color: $white;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 0 .5em;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.45);

    &:after {
    	color: $white;
    }
}

.news__item-meta {
	font-size: rem-calc(14);
}

.news__date {
	color: $medium-dark-gray;
}

.news__cat {

	a {
		text-decoration: none;
	}
}


// Article Section 

.more-news {
	display: block;
	margin-bottom: 5em;
	
	a {
		font-size: 3.125rem; 
		text-decoration: none; 
		font-weight: bold; 
		line-height: 1.2;
		color: $white;
		
	}
	
}

.more-news-section_column {
	 padding-bottom: 2em;
	 padding-top: 4em;
	 padding-left: 2em;
	 background:  #7a9a2b;
	 color: white;	
	 border: 10px solid white;
	 
	.icon-arrow_forward {
	font-size: 3em;
	line-height: 1.2;
	color: #B9D065;

  	}	
}


.more-news-section_column:last-of-type {
	background: $medium-dark-gray;	
	
.icon-arrow_forward {
	font-size: 3em;
	line-height: 1.2;
	color: #FFFFFF;

	}	
}



@media #{$medium-up} {

	.news {
		padding: 3.5em 0 1em;
	}

	.news__item {
		padding-bottom: 2em;
		margin-bottom: 1em;
		height: 100%;
		position: relative;
	}

	.news-section__title {
		margin-top: 0;
		line-height: 1;
	}

	.news__page-link {
		float: right;
	}

	.news__item-permalink {
	    position: absolute;
	    bottom: .5em;
	}

} 