.partner-logos {
	margin-top: 1em;
	padding: 1.5em 0 3em;
	padding-right: 100px;

	&:after {
	    content: "";
	    display: block;
	    clear: both;
	}

}

.partner-logos__title {
	display: block;
	width: 100%;
	float: left;
	padding-bottom: 1.25em;
	border-bottom: 1px solid $medium-gray;
}


.partner-logos__list {
	display: flex;
	flex-flow: row wrap;
	float: left;
    width: 100%;
    max-width: 1000px;

}

.partner-logos__image-wrap {
	flex: 0 0 50%;
    max-width: 50%;
    text-align: center;

	&:before {
	    content: "";
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

}

.partner-logos__image {
	padding: 1em;
    max-height: 80px;
    width: auto;
    max-width: 100px;
    opacity: .8;
}

@media #{$medium-up}{

	.partner-logos__list {
    	justify-content: center;
    }

	.partner-logos__image-wrap {
	    flex: 0 0 auto;
		max-width: 100%;
	}

	.partner-logos__image {
	    max-width: 150px;
	}

}

@media #{$large-up}{

	.partner-logos {
		border-top: 1px solid $medium-gray;
	}

	.partner-logos__title {
		border: none;
		display: inline;
		float: left;
		width: auto;
	}

	.partner-logos__image-wrap {
		text-align: right;
		flex: 0 0 auto;
		max-width: calc(130px + 3em);

		.partner-logos__image {
			padding: 0 1.5em 1em;
			max-height: 60px;
		}

		&:last-child {

			.partner-logos__image {
				padding-right: 0;

			}

		}

	}

	.partner-logos__list {
	    width: 80%;
	    float: right;
	    justify-content: flex-end;
	}

	.partner-logos--top-section {
		border: none;
		color: $white;

		.partner-logos__title {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			top: -4em;
			display: block;
			width: 100%;
	
		}

		.partner-logos__image {
			opacity: 1;
			width: auto;
			max-width: 120px;
			max-height: 50px;
			padding: 0 .85em;

		}

		.partner-logos__list {
			width: 100%;
			//justify-content: space-between;
			justify-content: flex-end;
		}

		.partner-logos__image-wrap {
			flex: 0 0 auto;
			max-width: auto;

		}

	}

}

@media screen and ( min-width: 1350px ) {

	.partner-logos--top-section {
		
		.partner-logos__list {
			justify-content: space-between;

		}

		.partner-logos__image {
			max-width: 140px;
			margin: 0;

		}

	}

}

@media screen and ( min-width: 1270px ) and ( min-height: 950px ){

	.partner-logos--top-section {

		.partner-logos__title {
			font-size: 1.35em;
		}

		.partner-logos__image {
			opacity: 1;
			width: auto;
			max-width: 140px;
			max-height: 70px;
			padding: 0 .85em;
		}

	}

}

/******************
	PARTNER BLOCK
*******************/

.partner {

	&:nth-of-type(odd) {
		background-color: $light-gray;
	}

	&:nth-of-type(even) {
		background-color: $lightest-gray;
	}

}

.partner__logo-wrap {
	text-align: center;
}

.partner__logo {
	margin: 2em auto 3em 0;
	max-width: 180px;
}

.partner__title {
	margin-top: 0;
    margin-bottom: .85em;
}

.partner__content-text {
	color: $medium-dark-gray;
}

.partner__external {
	margin-bottom: 0;
	font-weight: 500;

	a {
		@extend .link-external;
		color: inherit !important;
		transition: color .2s ease;

		&:hover {
			color: $primary-color !important;
		}
	}
}

a.partner__resource {
	@extend p;

	color: $dark-gray !important;
	text-decoration: none;
	font-weight: 500;
	transition: color .2s ease;

	&:hover {
		color: $primary-color !important;
	}
}


@media #{$medium-up}{
	
	.partner__logo {
		max-width: 250px;
	}


}

@media #{$large-up}{

	.partner__logo-wrap {
		height: 100%;
		position: relative;

	}

	.partner__logo {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 300px;
		transform: translateY(-50%);
		
	}

}