/*****************
  SINGLE SITE SECTION
 *****************/

.property-list-wrap {
    background-color: $dark-gray;
}

.property-list {
	position: relative;
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    white-space: nowrap;
    padding: 0 1em;

    &::-webkit-scrollbar { 
	    display: none; 
	}

}

.property-list__item {
    display: inline-block;
    padding: 1em 2em;
}

a.property-list__link {
	color: #aeaeae;
	text-decoration: none;
	transition: color .2s ease;

	&:active {
		color: $white;
	}

	&:hover {
		color: white;
	}

	&.is-active {
		color: $white;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100%;
			top: 1.45em;
			height: 3px;
			border-radius: 3px;
			background-color: #ffffff;
			opacity: 1;
			transition: top .2s ease-in-out, opacity .2s ease-in-out;
		
		}
	
	}

}

.property-item__title {
	margin-bottom: .3em;
}

.property-detail-item {
	transform: translateZ(0);
}

.property-detail-item__heading {
	font-size: rem-calc(16);
    font-weight: 600;
}

.property-connections {
	background-color: $primary-color;
	color: $white;
}

.property__resource {
	text-decoration: none;
	color: $white !important;
	margin-bottom: .2em;
    display: block;

	&.link-download:after {
		color: $white !important;
	}
}

.property-connections__mail-link {
	color: $white;
	text-decoration: none;
	border-bottom: 2px solid rgba( $white, .35 );
}

@media #{$medium-up}{

	.property-connections__item {
		margin-bottom: 2.5em;
	}

	.property-details .column {

		@for $i from 1 through 40 {
			&.order-#{$i} {
				order: $i;
			}
		}

	}


}

/*****************
  SITES SECTION
 *****************/

.sites-section {

	.site-item:nth-of-type(odd) {
		background-color: $white;
	}
	
	.site-item:nth-of-type(even) {
		background-color: $lightest-gray;
	}

}

.site-item__property-title {
	margin-bottom: .25em;
}

a.site-item__property-link {
	color: $medium-dark-gray;
	text-decoration: none;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: calc( 100% - .25em );
		border-bottom: 2px solid rgba( $medium-gray, .5 );
		transition: border .2s ease-in-out;
	}

	&:hover:before {
		border-color: $primary-color;
	}

	&:after {
		content: ", ";
	}

	&:last-of-type:after {
		content: "";
	}
}

@media #{$medium-up}{

	.site-item__title {
		margin-top: 0;
	}

	.site-item__desc {
		padding: .5em 0 5em;
	}

}
