
.quote-section {
	background-color: $primary-color;
	color: $white;
}

.quote__author {
	margin-bottom: 3em;
}

.quote__author-position {
	color: $secondary-color;
}

.quote__text {
	font-size: rem-calc(28);
}

@media #{$small-only}{
	.quote__author-position {
		display: block;
	}

}

@media #{$medium-up}{

	.quote__text {
		font-size: rem-calc(34);
	}

}

@media #{$large-up}{

	.quote-section {
		padding-bottom: 6.5em;
	}

	.quote__author {
	    margin-bottom: 4em;
	}

	.quote__text {
		font-size: rem-calc(40);
	}

}