
.reference-term {

	&:nth-of-type(odd) {
		background-color: $light-gray;
	}

	&:nth-of-type(even) {
		background-color: $lightest-gray;
	}
}

.reference-term__title {
    margin-bottom: 2em;
}

.reference-item {
	margin-bottom: 4em;
}

.reference-item__image {
	background-color: transparent;
	position: relative;
	text-align: center;
	padding: 3em;
	margin-bottom: 1.5em;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

    &:after {
		content: "";
		display: block;
		width: 100%;
		padding-bottom: 55%;
    }

}

.reference-item__content {
	color: $medium-dark-gray;

	p {
	    font-weight: 500;
	}
	
}

@media #{$large-up}{

	.reference-term__title {
	    margin-bottom: 5em;
	}

}