.resource-term {

	&:not(.bg-black) {

		&:nth-of-type(odd) {
			background-color: $light-gray;
		}

		&:nth-of-type(even) {
			background-color: $lightest-gray;
		}

	}

	&.bg-black {
		
		.resource-term__desc {
			color: $medium-gray;
		}

		.resource-item__desc,
		.resource-item__url {
			color: $lightest-gray;
		}

		.resource-item__url a {
			text-decoration: none;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: calc(100% - 1.5em);
				border-bottom: 1px solid rgba($light-gray, .65);

			}

		}

		.link-external:after {
			color: $quaternary-color;
		}

	}

}

.resource-term__title {
	margin: 0; 
}

.resource-term__desc,
.resource-item__url {
	color: $medium-dark-gray;
}

.resource-item {
	margin-bottom: 1.5em;

	a:hover {
		color: $primary-color;
	}
	
}

.resource__external {
	margin-bottom: 0;
	font-weight: 500;

	a {
		@extend .link-external;
		color: inherit !important;
		position: relative;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: calc(100% - 1.25em);
			border-bottom: 1px solid rgba($dark-gray, .85);

		}
	}

}

@media #{$medium-up}{

	.resource-item {
		margin-bottom: 2em;
	}

}