.top-section--home {
	margin-top: 95px;
	//margin-top: 140px; // With banner
	position: relative;
	max-height: 45vh;
	min-height: 180px;
    overflow: hidden;
	background-color: $light-gray;

	@include breakpoint(medium up) {
	    min-height: 300px;
	}

	@include breakpoint(large up) {
	    min-height: 500px;
	    margin-top: 116px;
	}

	@include breakpoint(1300px) {
  		min-height: 600px;
	}
	@include breakpoint(xxlarge up) {
	   max-height: 60vh;
	}
	@include breakpoint(1650px) {
	   max-height: 70vh;
	}
	@include breakpoint(2000px) {
	   max-height: 75vh;
	}
}

.top-section__bg {
	min-height: 30vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	@include breakpoint(large up) {
		min-height: 45vh;
	}

}

.top-section__intro {

	p.intro {
		font-family: $heading-font-family;
	}

}

.top-section__inner--one-col {

	.top-section__title {
		margin: 0 0 .9em 0;
	}

	.top-section__intro {

		p {
			//@extend .intro;
			font-family: $heading-font-family;
		}

	}

	.top-section__text {

		p {
			font-family: $body-font-family;
		}

	}

}

.top-section__inner--two-col {

	.top-section__title {
		margin-top: 0;
	}

	.top-section__intro {
		margin-top: .45em;

		.intro {
			@extend p;

		}

	}

}

/* override for text colors when green bg */
.top-section.bg-primary {
	
	
	.top-section__intro.color-primary {
		color: $white;
	}
	
	.top-section__text {
	
	p {
		
		color: white;
		
		}
		
	}
	
	
	.top-section__inner--two-col {
	
	.h1 {
		
		color: white;
		
		}
	}

}

.video-container {
	
	position: relative;
	padding-top: 56.2%;
	margin-top: 95px;
	@media #{$large-up}{
		margin-top: 43px;
	}

	.flex-video { 
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		iframe {
			width: 100%;
			height: 100%; 
		}
	}
	
	.temporary-banner {
		position:absolute;
		left:0;
		top:4px;
		z-index:99; 
		width:865px; 
		height:auto;
		max-width:60%;

		@media #{$large-up} {
			top:118px;
			max-width:50%;
		}
		
		display: none;

	}
	
	.temporary-banner-second {
		position:absolute;
		left:0;
		z-index:99; 
		height:auto;

		@media #{$small-up} {
			top:24%;
			max-width:40%;
		}
		
		@media #{$medium-up} {
			top:21%;
			max-width:48%;
		}
		
		@media #{$large-up} {
			top:27%;
			max-width:40%;
		}

		@media #{$xlarge-up} {
			top:26%;
		}

		@media #{$xxlarge-up} {
			top:24%;
		}
		
		display: none;

	}

}

/* quick fix for campaign page 20200420 */
.campain-2020-banner {
	
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;  
	bottom: 10%; 
	width: 90%; 
	max-width: 700px; 
	z-index: 200;
	
	@media #{$large-up}{
		
		width: 50%;
	}
}

@media #{$large-up}{

	.top-section__inner--two-col {
	    //padding-bottom: 6em;

	}

/*
	.top-section--home {
	    margin-top: 140px;
		//margin-top: 260px; // With banner
	}
*/

}

/*
 * TOP SECTION LOGOS
 */

 .top-section__logos {
	display: none;
 }

 @media #{$large-up}{
	.top-section__logos {
		background: transparent;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
		display: block;
		position: absolute;
		//max-width: $global-width;
		left: auto;
		right: 0;
		bottom: 0;
		width: 100%;
		margin: 0 auto;
		z-index: 10;
		border: none;


	}

 }

  @media #{$large-up}{
	.top-section__logos {
		padding-bottom: 2em;
	}
}
