/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/admin.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent; }

body {
  font: 300 120% / 1.5em "Helvetica Neue", Arial, sans-serif;
  color: #212121 !important;
  background: #f2f2f2;

}

@keyframes bgfade {
  0% {
    background: #2d9; }
  20% {
    background: #1498E0; }
  40% {
    background: #942DE2; }
  80% {
    background: #F14765; }
  100% {
    background: #2d9; } }

#loginform {
  background: transparent;
  box-shadow: none; }
  #loginform label {
    color: #212121;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: 2em;
    display: block; }
  #loginform input[type="password"],
  #loginform input[type="text"] {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 2px;
    outline: none;
    box-shadow: none !important;
    color: #212121 !important; }

.login h1 a {
  background: url(../images/sthlm-data-parks-logo.svg) no-repeat top center;
  width: 326px;
  height: 90px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 25px;
  margin-bottom: 0;
  display: block; }

p a {
  color: #212121 !important; 

}

p a:hover {
  color: #7a9a2b !important; 

}

#wp-submit {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1em !important;
  border: none !important;
  outline: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  font-weight: 700;
  height: 53px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: .9em;
  line-height: 0!important;
  transition: background .2s ease;

}

#wp-submit:hover {
  background: #212121;
}