/**
 * @license
 * MyFonts Webfont Build ID 3310052, 2016-11-17T09:20:47-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: NHaasGroteskTXStd-55Rg by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-haas-grotesk/std-text-55-roman/
 * 
 * Webfont: NHaasGroteskTXStd-65Md by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-haas-grotesk/std-text-65-medium/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3310052
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 2013 Monotype Imaging Inc. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3281e4");

  
@font-face {font-family: 'NHaasGroteskTXStd-55Rg';src: url('webfonts/3281E4_0_0.eot');src: url('webfonts/3281E4_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3281E4_0_0.woff2') format('woff2'),url('webfonts/3281E4_0_0.woff') format('woff'),url('webfonts/3281E4_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'NHaasGroteskTXStd-65Md';src: url('webfonts/3281E4_1_0.eot');src: url('webfonts/3281E4_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3281E4_1_0.woff2') format('woff2'),url('webfonts/3281E4_1_0.woff') format('woff'),url('webfonts/3281E4_1_0.ttf') format('truetype');}
 